<div id="home">
<h1>What is digital bid wars?</h1>
<p>
This is a digital bidding system where users can auction personal items 
and users can bid on them. It is an in person system, but each user must 
first create an account in order to join the the auction on their devices. 
Using the key the user will connect to the auction where they can then 
view the auctioned item from their device and bid on the item when the 
auctioneer enables bidding. Ultimately, we see this program as being a 
replacement to the fast paced and confusing in person auction system that 
is already in use.  
</p>
</div>